.calculator{
    max-width: 300px;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 300px;
}
#display{
    width: 90%;
    margin: 3%;
    height: 50px;
    font-size: 40px;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
}
button{
    width: 25%;
    height: 40px;
}